<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Budgeting</title>
</head>
<body>
    <header>
        <h1>Smart Budgeting App</h1>
        <hr>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 Smart Budgeting</p>
    </footer>
</body>
</html>


{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Cards basic - UI elements{% endblock %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/masonry/masonry.js' %}"></script>
{% endblock vendor_js %}

{% block content %}


{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Cards basic - UI elements{% endblock %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/masonry/masonry.js' %}"></script>
{% endblock vendor_js %}

{% block content %}